body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
}

header {
  color: #efefef;
  text-align: center;
}

html {
  background-color: #fff;
}

header h1 {
  margin: 0 0 1em 1em;
}

header a {
  text-decoration: none;
  color: #efefef;
}

.waiting {
  margin-top: 50px;
  color: #5C5C5C;
  font-size: 18px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #000;
  color: #efefef;
  border-top: 1px dotted gray;
  padding: 1em 0;
  padding-top: 1em;
  font-size: 0.8em;
  text-align: center;
}

label {
  font-weight: bold;
}

.container {
  margin: 0 auto;
  background: #efefef;
  padding: 1em;
  text-align: center;
  background-color: #fff;
}


.board {
  width: 450px;
  margin: 0px auto;
}

.board table {
  border-collapse: collapse;
}

.board td {
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: 150px;
  font-size: 55pt;
  border-right: 1px solid;
  border-bottom: 1px solid;
  color: black;
}

.board td:last-child {
  border-right: none;
  color: black;
}

.board tr:last-child td {
  border-bottom: none;
  color: black;
}

#name {
  margin-top: 10%;
  display: block;
  width: 300px;
  height: 60px;
  background-color: rgba(255, 0, 0, 0);
  color: #5C5C5C;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  border-style: none;
  margin-left: auto;
  margin-right: auto;
  outline:none;
  box-shadow:none;
  -webkit-appearance: none;
  outline-width: 0;
  outline-color: white;
  border-bottom: #5C5C5C solid;

}
  ::-webkit-input-placeholder { /* WebKit browsers */
      color: #5C5C5C;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: #5C5C5C;
      opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: #5C5C5C;
      opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
      color: #5C5C5C;
  }

.newbtn {
  margin-top: 10px;
  background-color: #FF7C06;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 8px;
}

.title {
  color: #5C5C5C;
}