<img src="img/logo.png" width="222" height="89">

<div>
    <form ng-submit="createGame()">
      <label for="username"></label>
      <input id="name" type="text" ng-model="username" placeholder="Name?">
      <button class="newbtn" ng-disabled="usernameNotEntered" type="submit">Create New Game</button>
    </form>

  <div ng-show="waitingGames.length >= 0" class="game-list">
    <h2 class="waiting">Games Waiting for a More Players</h2>

    <div ng-repeat="game in waitingGames">
      <button class="newbtn" ng-disabled="usernameNotEntered" ng-click="joinGame(game)">Play {{ game.player1 }}</button>
    </div>
  </div>

</div>
